<div class="container my-3">
  <h1 class="text-center mt-3">Your schedule</h1>
  <div class="d-flex justify-content-center">
    <% @grouped_bookings.keys.sort.reverse.each do |group_name| %>
      <div class="bookings-cards mt-2">
      <p class="text-center mt-3"><%= group_name.capitalize %> bookings</p>
        <% @grouped_bookings[group_name].first(5).each do |booking| %>
        <div class="card-product mt-3">
          <% if booking.user.photo.attached? %>
          <%= image_tag booking.user.photo %>
          <% else %>
          <%= image_tag "uncle.jpg" %>
          <% end %>
          <div class="card-product-infos d-flex justify-content-between align-items-center">
            <div class="card-inside-product-owner">
              <h2><%= booking.user.first_name %></h2>
              <p><%= booking.role.name.capitalize %></p>
              <p><%= booking.category %></p>
              <p><%= booking.location %></p>
              <p><%= booking.start_time.strftime("%d %b %Y at %H:%M") %></p>
            </div>
            <div class="card-inside-product-owner">
              <p>Contact</p>
              <p><%= booking.user.email %></p>
            </div>
            <div class="card-inside-product-owner">
              <div class="booking-actions">
              <% if booking.status_pending? %>
                <%= simple_form_for booking do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'approved'} %>
                  <%= f.submit 'Approve', class: 'btn btn-primary' %>
                <% end %>
                <%= simple_form_for booking do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'declined'} %>
                  <%= f.submit 'Decline', class: 'btn btn-primary' %>
                <% end %>
              <% else %>
                <p class="circle-owner <%= booking.status %>"><%= booking.status %></p>
              <% end %>
              </div>
            </div>
          </div>
        </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
