<div class="container my-3">
<h1 class="text-center mt-3">Your bookings</h1>
  <div class="d-flex justify-content-center">
    <% @grouped_bookings.keys.sort.reverse.each do |group_name| %>
      <div class="bookings-cards mt-2">
      <h2 class="text-center mt-3"><%= group_name.capitalize %> bookings</h2>
        <% @grouped_bookings[group_name].first(3).each do |booking| %>
        <div class="card-product mt-3">
          <%= image_tag booking.role.user.photo %>
          <div class="card-product-infos d-flex justify-content-between">
              <div class="circle">
                <p><%= booking.role.name %></p>
              </div>
            <div class="card-inside-product">
              <h2><%= booking.role.user.first_name %></h2>
              <p><%= booking.category %></p>
              <p><%= booking.location %></p>
              <p><%= booking.start_time.strftime("%d %b %Y at %H:%M") %></p>
            </div>
            <div class="card-inside-product">
              <p>Status: <%= booking.status %></p>
              <p>Contact</p>
              <p><%= booking.role.user.email %></p>
            </div>
          </div>
        </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
