<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=image_path "family-banner.jpg"%>);">
  <div class="container">
    <h1>FAM FINDER</h1>
    <p>Find a family member to take to your next event!</p>
    <div class="form-inline">
      <%= render "/shared/search" %>
    </div>
  </div>
</div>
<div class="hp-card-container mt-5">
  <div class="cards">
    <% @roles.each do |role| %>
      <%= link_to roles_path(name: role), class: "text-decoration-none" do%>
        <div class="card-category m-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "#{role}.jpg"%>)">
          <%= role.capitalize %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
</div>
