<div class="container">
  <h1 class="my-3"><strong><%= @roles.count%></strong> family members for rent in your area...</h1>
  <div class="card-deck d-flex justify-content-center">
    <% @roles.each do |role| %>
      <%=link_to(role_path(role), class: "text-decoration-none") do %>
        <div class="card-trip m-3">
          <%= image_tag role.user.photo, class: 'image' %>
          <div class="card-trip-infos">
            <h2><%= role.name.capitalize %></h2>
            <p><%= role.user.first_name %> <%= role.user.last_name %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
