<div class="container">
  <div class="card-trip-item">
    <h2> <%= pluralize(@roles.count,"#{params[:name]}" )%> in your area...  </h2>
  </div>
  <div class="all-cards">
    <% @roles.each do |role| %>
      <div class="card-trip">
        <%= image_tag role.user.photo, class: 'image' %>
        <div class="card-trip-infos">
          <h2><%= role.user.first_name %> <%= role.user.last_name %></h2>
        </div>
        <%= link_to '', role_path(role), class: 'list-link' %>
      </div>
    <% end %>
  </div>
</div>
</div>
