<div class="container">
  <% if params[:name].present? %>
    <h1 class="mt-3"><%= pluralize(@roles.count,"#{params[:name]}" )%> in your area... </h1>
  <% end %>
  <div class="card-trip-grid mt-5">
    <% @roles.each do |role| %>
      <%=link_to(role_path(role), class: "text-decoration-none") do %>
        <div class="card-trip mt-3">
          <% if role.user.photo.attached? %>
            <%= image_tag role.user.photo%>
          <% else %>
            <%= image_tag "placeholder-profile.png"%>
          <% end %>
          <div class="card-trip-infos">
            <div>
              <h2><%= role.name.upcase %></h2>
              <p><%= role.user.first_name %> <%= role.user.last_name %></p>
            </div>
            <p class="card-trip-pricing">¥<%= number_with_delimiter(role.price, :delimiter => ',') %>/hour</p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
