<div class="container">
  <div class="mt-4">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    <div class="user-container my-4" >
      <div class="user-image">
        <% if @role.user.photo.attached? %>
          <%= image_tag @role.user.photo %>
        <% else %>
          <%= image_tag 'placeholder-profile.png' %>
        <% end %>
      </div>
      <div class="user-bio mx-4">
        <small>About Me</small>
        <p><%= @role.bio %></p>
        <p>¥<%= @role.price %></p>
      </div>
    </div>
    <div class="container booking-form">
      <%= render "/bookings/form", booking: @booking %>
    </div>
  </div>
</div>
